      * {
      box-sizing: border-box;
    }
.header
{
      background: #D9D9D9;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
      justify-content: space-between; 
      position: fixed;
      width: 1536px;
      height: 100px;
      gap: 0px;
      opacity: 0.79px;

}

.header #logo
{
      text-align: center;
      display: flex;
}
 #logo a img
{
      height: 48px;
      width: 180px;
      margin: 23px;
}
.header ul
{
      list-style: none;
      float: right;
}

.header ul li
{
     
     float: left;
      
}
.header ul li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      margin: 15px;
      font-size: 25px;
  }

  .header .dropbtn
  {
      margin: 25px;
      width:310px;
      height: 46px;
      border: 0 solid;
      border-radius: 20px;
      background-color: rgb(83, 83, 192);
      text-align: center;
  }

.m1
{
      width: 100%;
      height: 850px;
      left: -32px;
      gap: 0px;
      border-radius: 0px 0px 10px 0px;
      opacity: 0px;
      background: url(Rectangle.png);
}

.main #content
{
      color: white;
      padding-top:180px;
      margin-left: 144px;
      width: 23%;
      justify-content: center;
      font-size: 40px;
}

.main #content button
{
      background-color: rgb(83, 83, 192);
      border: 0 solid;
      border-radius: 30px;
      margin-top: 25px; 
}

.main #content button #c1
{
      padding: 7px;
      color: white;
      align-items: center;
      margin: 0px;
}

.main1
{
width: 1350px;
height: 150px;
top: 473px;
margin-left: 88px;
gap: 0px;
border: 0px solid;
border-radius: 10px;
opacity: 0px;
background: #FFFFFF;
margin-top: 150px;
overflow: hidden;
}
.togglebutton
{
      display:flex;
      justify-content: center;
}
.main1 .togglebutton .switch 
{
      position: relative;
      display: inline-block;
      width: 65px;
      height: 34px;
      margin-top: 50px;
}

.switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 34px;
      background-color: #DFDFDF;
      -webkit-transition: .4s;
      transition: .4s;
    }

.slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      border-radius: 50%;
      background-color:rgb(83, 83, 192) ;
      -webkit-transition: .4s;
      transition: .4s;
}
input:checked + .slider {
      background-color: red;
    }

input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

.main1 .bar
{
      display: flex;
      justify-content: space-between;
      gap:70px;
      width:100px;
      margin-left:30px;
      margin-top: -20px;
}
.main1 .bar  label
{
      display: flex;
      width:130px;
      font-family: Open Sans;
      text-align: left;
      font-size: 12px;
      font-weight: 400px;
      line-height: 18px;
      margin-left: 10px;
}

.bar .inner-bar
{
      display: flex;
      background: #DFDFDF;
      width:175px;
      height: 40px;
      padding: 12px;
      border: 0px solid;
      border-radius: 8px;
      text-align: left;  
      font-family: Open Sans;
      font-size: 12px;
}

.bar .select select
{
      display: flex;
      background: #DFDFDF;
      width:120px;
      height: 40px;
      padding: 12px;
      border: 0px solid;
      border-radius: 8px;
      text-align: left;  
      font-family: Open Sans;
      font-size: 12px;   
}
.bar input[type="button"]
{
      background-color:rgb(83, 83, 192);
      border: 0px solid;
      border-radius: 25px;
      font-family: Open Sans;
      font-size: 15px;
      width:127px;
      height: 40px;
      color: white;
      margin-top: 15px;
      
}
.main1 input[type="checkbox"]
{
      float:right;
      margin-top: 2px;
      margin-right:165px;
      
}

.main1 h4
{
      float:right;
      margin-top:-2px;
      margin-right: -75px;
      font-size: 15px;
      font-family: Open sans;
}

.card{
      outline: none;
}


.card h3
{
      font-family: Open Sans;
      font-size: 30px;
      font-weight: 300;
      line-height: 38.4px;
      text-align: center;
      color:#141414;
      margin-top: 10px;
}

.card .card1
{
      display: flex;
      justify-content: space-between;
      padding: 0px 75px;
      margin-bottom: 60px;
      margin-top: 10px;
}

.card1 #inner-card
{
      height: 418px;
      border: 2px solid gray;
      border-radius: 20px;
      width: 390px;
      margin-right: 10px;
}

.card1 #inner-card a img
{
      width:384px;
      height: 335px;
      padding: 15px 12px 15px 15px;
      border-radius: 18px;
}


.card1 #inner-card #card-content
{
      
      font-family: Open Sans;
      padding: 0px 50px;
      width:100%;
      font-size: 15px;
      text-align: center;
}

.footer
{
      margin-top: 1px;
      border-top: 2px solid rgba(0, 0, 255,0.6);
      height: 300px;
      display: flex;
      justify-content: space-between;
      font-family: Open Sans;
}

.footer .section1
{
      width:15%;   
}
.footer a img
{
      width: 180px;
      height: 48px;
      margin:42px 0px 0px 20px;
}

.footer .section2
{
      margin: 260px 0px 0px 60px;
      
}

.footer .section3 .s3
{
     font-size: 18px;
     width:101px;
     height: 34px;
     border: 1px solid black;
     border-radius: 23px;
     text-align: center;
     padding-top: 3.5px;
     margin-top: 30px;
     
}
 .section3 ul
 {
      list-style: none;
      margin-left: -35px;
      font-size:18px;
      margin-top: 10px;
 }
 
 .footer .section4 .s4
 {
      font-size: 18px;
      width:95px;
      height: 34px;
      border: 1px solid black;
      border-radius: 23px;
      margin: 30px 150px 0px -200px;
      text-align: center;
      padding:4px;
      
 }